.card-container {
  /* background: linear-gradient(
    42deg,
    rgba(230, 109, 243, 0.519) 6%,
    rgba(0, 212, 255, 0) 100%
  ); */
  background-color: rgb(236, 182, 234);
}
.button-group {
  display: flex;
  gap: 10 px;
  margin-top: 10px;
}

.button {
  padding: 8px 16px;
  background-color: blueviolet;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(87, 7, 161);
  box-shadow: 5px 5px 3px #bb87bb;
}
.card-container {
  display: flex;
}
h4 b {
  margin-left: 80px;
}
.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 50px;
}
/* .container {
  background-color: #f3b1f3;
} */
label {
  font-size: 20px;
}
input {
  border: none;
  width: 80vh;
  height: 40px;
  border-radius: 10px;
}
