.update-post-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ddd0e4;
  align-items: center;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.input,
.textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.textarea {
  min-height: 100px;
}

.button {
  background-color: blueviolet;
  color: #ddd0e4;
  padding: 10px;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
label {
  margin: 10px 0;
}
